.slick_dots_custom {
  display: inline-block;
  vertical-align: middle;
  margin: auto 0;
  padding: 0;
  text-align: center; 
  padding-top: 12px;
}

.slick_dots_custom li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 6px;
  padding: 0;
}

.slick_dots_custom li button {
  border: none;
  background: #d1d1d1;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  padding: 0;
}

.slick_dots_custom li.slick-active button {
  background-color: #292A2E;
  width: 16px;
  border-radius: 8px;
}
